In [1]:
# Import MinMaxScaler from sklearn's preprocessing module
# Import pandas to create and manage tabular data
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [2]:
# Constructing a basic dataset using a Python dictionary
# Columns: Age and Salary — two numeric features we'll normalize
data = {
    'Age': [25, 35, 45, 55],
    'Salary': [50000, 60000, 80000, 120000]
}

# Converting the dictionary into a pandas DataFrame
df = pd.DataFrame(data)

# Display the original data
df

   Age  Salary
0   25   50000
1   35   60000
2   45   80000
3   55  120000

In [3]:
# Initialize the MinMaxScaler — by default, it scales data to the range [0, 1]
scaler = MinMaxScaler()

# Fit the scaler on the original data and transform it
# The result is a NumPy array with scaled values
normalized = scaler.fit_transform(df)

In [4]:
# Convert the normalized NumPy array back to a DataFrame
# Use the original column names for consistency
normalized_df = pd.DataFrame(normalized, columns=df.columns)

# Display the normalized data
normalized_df

        Age    Salary
0  0.000000  0.000000
1  0.333333  0.142857
2  0.666667  0.428571
3  1.000000  1.000000

In [5]:
# Print both original and normalized DataFrames
# Helps in comparing how the feature values were scaled

print("Original Data:")
print(df)

print("\nNormalized Data:")
print(normalized_df)

Original Data:
   Age  Salary
0   25   50000
1   35   60000
2   45   80000
3   55  120000

Normalized Data:
        Age    Salary
0  0.000000  0.000000
1  0.333333  0.142857
2  0.666667  0.428571
3  1.000000  1.000000